@import "tailwindcss";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", sans-serif;
}

/* Spinner Animation - Paste this once in your global CSS */
.loader {
  width: 15px;
  aspect-ratio: 1;
  position: relative;
  animation: l9-0 1.5s infinite steps(2);
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: currentColor; /* This makes it inherit the text color! */
}

.loader::before {
  box-shadow: 26px 0;
  transform: translateX(-26px);
  animation: l9-1 0.75s infinite linear alternate;
}

.loader::after {
  transform: translateX(13px) rotate(0deg) translateX(13px);
  animation: l9-2 0.75s infinite linear alternate;
}

@keyframes l9-0 {
  0%,
  49.9% {
    transform: scale(1);
  }
  50%,
  100% {
    transform: scale(-1);
  }
}

@keyframes l9-1 {
  100% {
    box-shadow: 52px 0;
  }
}

@keyframes l9-2 {
  100% {
    transform: translateX(13px) rotate(-180deg) translateX(13px);
  }
}
